#loginContainer{
    background-image: url('../img/pexels-alicia-zinn-19640.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1024px) {
    .loginContainer {
      position: relative;
      height: auto;
    }
}
.loginFrame {
    height: 70%;
    width: 30%;
    background-color: rgb(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    right: 90px;
    padding: 50px;
  }
  @media only screen and (max-width: 575px) {
    .loginFrame {
      padding: 50px 20px;
      position: relative;
      width: 80%;
      right: auto;
    }
  }
  .loginFrame .login-box {
    min-width: 470px;
    padding: 6rem 7rem;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 575px) {
    .loginFrame .login-box {
      min-width: 300px;
      padding: 6rem 4rem;
    }
  }
  @media only screen and (max-width: 479px) {
    .loginFrame .login-box {
      padding: 6rem 2rem;
    }
  }

  
.input-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;/*The bottom border of the field contained here is visible beyond the edges of this container so should hide*/
}

.input-container input[type="text"],
.input-container input[type="password"]  {
    margin: 0px;
    border-color: #f0f1f3;
    color: #fff;
    text-align: center;
    /* letter-spacing: 3px; */
}

.input-container input[type="text"]::placeholder,
.input-container input[type="password"]::placeholder  {
    letter-spacing: 3px;
    color: #fff;

}

#loginSubmit{
    font-weight: bolder;
    margin-top: 1rem;
    background: none !important;
    border: 2px solid white;
    border-radius: 4px;
    width: 100% !important;
}

#loginSubmit:hover {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.5);
}